#map
{
	height: 500px;
    width: 100%;
    display:block;
}

html
{
	scroll-behavior: smooth;
}

.logo-header
{
	height:105px;
	width:100px;
	
}

.carrousel-logo
{
	width: 252px;
}


.center-h3
{
	margin-left:auto;
	margin-right:auto;
	display:block;
}